In [115]:
library(dplyr,warn.conflicts=F)
library(stringr,warn.conflicts=F)
library(psych,warn.conflicts=F)
library(lplyr,warn.conflicts=F)

In [116]:
# load the stats
data.tourney <- readRDS('datafiles_rds/NCAATourneyDetailedResults.rds')
# keep 2014
data.tourney %>% filter(Season==2014) -> data.tou2014

In [117]:
# store 68 tourney teams 
data.tou2014 %>% 
    select(TeamID=WTeamID) %>% 
    bind_rows(data.tou2014 %>% 
              select(TeamID=LTeamID)) %>% 
    distinct(TeamID) -> df.teams2014

In [118]:
# Sagarin Rating 2013-2014
# https://ux.kitsapsun.com/sports/ncaab/sagarin/2014/team/
data.sagarin <- read.csv('datafiles_csv/Sagarin2014.csv',stringsAsFactors=F)
data.sagarin %>% head

  Rank Name           Rate  W  L Sched RankSched W25 L25 W50 L50 GoldenMean
1 1    Louisville     93.92 31 6 76.14 95        4   3    7  6   95.09
2 2    Arizona        93.65 33 5 79.80 21        6   2   13  4   94.19
3 3    Florida        93.27 36 3 80.07 16        9   3   13  3   92.45
4 4    Wisconsin      91.99 30 8 81.91  2        6   4   12  5   91.35
5 5    Michigan State 90.66 29 9 81.09  5        5   5   11  6   90.46
6 6    Connecticut    90.61 32 8 80.24 15        8   4   14  7   89.87
  RankGM Predictor RankPred Pure  RankPure
1  1     94.53      1       91.49 7
2  2     93.84      2       92.06 5
3  3     92.57      3       96.41 2
4  4     91.99      4       92.34 4
5  6     89.84      6       91.95 6
6 10     89.42     10       96.48 1

In [119]:
threshold <- max(data.sagarin$Predictor) - as.numeric(quantile(data.sagarin$Predictor,0.75))
threshold

[1] 16.22

In [120]:
data.teamspellings <- readRDS('datafiles_rds/TeamSpellings.rds')
data.teams <- readRDS('datafiles_rds/Teams.rds')

In [121]:
data.sagarin %>% 
    mutate(Name=str_to_lower(Name)) %>% 
    left_join(data.teamspellings,by=c('Name'='TeamNameSpelling')) -> df.sagarin

In [122]:
df.sagarin %>% 
    right_join(df.teams2014,by='TeamID') %>%
    filter(is.na(Rank)) %>%
    select(TeamID) %>%
    inner_join(data.teams,by='TeamID')

  TeamID TeamName        FirstD1Season LastD1Season
1 1142   Cal Poly SLO    1995          2019
2 1462   Xavier          1985          2019
3 1386   St Joseph's PA  1985          2019
4 1433   VA Commonwealth 1985          2019

In [123]:
df.sagarin %>% 
    filter(is.na(TeamID))

   Rank Name                    Rate  W  L  Sched RankSched W25 L25 W50 L50
1   28  vcu(va. commonwealth)   85.81 26  9 77.01  81       1   0   5   6
2   47  saint joseph's-pa.      82.39 24 10 77.83  66       0   3   6   6
3   53  xavier-ohio             81.74 21 13 78.88  44       3   5   4   7
4   66  saint mary's-cal.       80.51 22 12 75.89  97       0   3   2   4
5  159  stony brook-ny          72.89 22 11 67.09 324       0   0   0   1
6  180  omaha(neb.-omaha)       71.56 14 15 71.11 201       0   0   0   2
7  192  cal poly-slo            70.93 12 20 74.06 119       0   3   0   5
8  198  oakland-mich.           70.32 11 20 74.90 110       0   3   0   4
9  218  se missouri state(semo) 69.14 16 14 66.88 329       0   0   0   2
10 223  ark.-little rock        68.80 13 17 72.11 168       0   1   0   3
11 227  texas a&m-corpuschristi 68.53 17 15 66.40 338       0   1   0   3
12 233  fla. international      68.33 13 15 70.59 213       0   1   0   2
13 260  north florida(unf)      66.74 14 16 70.24 231       0   3   0   3
14 279  kansas city(umkc)       64.84 10 19 70.43 219       0   3   0   3
15 307  njit(new jersey tech)   62.55  9 16 67.50 312       0   0   0   0
16 308  central connecticut st. 62.53 10 19 68.43 285       0   1   0   1
17 310  saint francis-pa.       62.27 10 21 69.51 249       0   0   0   1
18 313  long island u.          62.18  9 20 68.87 277       0   0   0   0
19 314  texas-san antonio(utsa) 61.95  6 21 71.20 196       0   0   0   2
20 335  binghamton-ny           58.10  7 23 67.89 302       0   1   0   2
21 340  md.-eastern shore(umes) 57.72  5 23 67.13 322       0   0   0   1
22 347  mvsu(miss. valley st.)  55.71  6 23 66.49 334       0   1   0   1
23 349  presbyterian college    54.48  4 26 67.38 315       0   0   0   0
   GoldenMean RankGM Predictor RankPred Pure  RankPure TeamID
1  86.15       26    86.18      27      84.08  37      NA
2  81.96       51    81.51      56      84.22  36      NA
3  82.54       48    81.34      59      80.49  64      NA
4  80.03       71    80.38      64      80.76  60      NA
5  73.16      157    71.98     170      73.28 156      NA
6  72.39      162    71.35     182      69.64 215      NA
7  70.55      197    71.05     183      70.52 198      NA
8  69.73      205    70.53     191      70.09 208      NA
9  68.20      233    68.32     222      71.34 182      NA
10 68.38      228    68.23     224      69.71 214      NA
11 66.93      253    67.44     243      72.12 168      NA
12 68.13      235    67.61     241      69.14 226      NA
13 65.99      262    66.42     262      67.74 248      NA
14 63.99      284    64.41     281      66.14 262      NA
15 62.12      307    62.06     304      63.30 301      NA
16 62.17      306    61.88     305      63.43 300      NA
17 61.36      314    61.07     315      64.68 283      NA
18 61.17      317    60.83     319      64.88 278      NA
19 61.30      315    62.14     303      61.80 317      NA
20 58.00      337    58.20     333      57.16 337      NA
21 57.95      338    57.71     339      56.27 344      NA
22 54.48      347    54.51     348      58.12 330      NA
23 54.41      348    54.23     349      54.22 348      NA

In [124]:
df.sagarin %>%
    mutate_which(Rank==28,TeamID=1433) %>%
    mutate_which(Rank==47,TeamID=1386) %>%
    mutate_which(Rank==53,TeamID=1462) %>%
    mutate_which(Rank==192,TeamID=1142) -> df.sagarin

In [125]:
df.sagarin %>% 
    inner_join(df.teams2014,by='TeamID') %>%
    select(TeamID,Predictor) -> df.sagarin

In [126]:
# compute the Truth 
data.tou2014 %>% 
    select(Season,WTeamID,LTeamID) %>% 
    mutate(TeamID.1=ifelse(WTeamID<LTeamID,WTeamID,LTeamID),
           TeamID.2=ifelse(WTeamID>LTeamID,WTeamID,LTeamID)) %>%
    mutate(ID=str_c(Season,'_',TeamID.1,'_',TeamID.2)) %>% 
    mutate(Target=ifelse(WTeamID==TeamID.1,1,0)) %>% 
    select(ID,Target) -> df.truth
df.truth %>% sample_n(5)

  ID             Target
1 2014_1174_1277 0
2 2014_1372_1433 1
3 2014_1163_1277 1
4 2014_1332_1458 0
5 2014_1173_1196 0

In [127]:
# compute slope of sigmoid
slope = 3 / threshold
slope

[1] 0.1849568

In [128]:
# matchups dataframe
df.sagarin %>% 
    semi_join(df.teams2014,by='TeamID') %>% 
    mutate(Season=2014) -> tmp01
tmp01 %>% 
    inner_join(tmp01,by='Season') %>% 
    filter(TeamID.x < TeamID.y) -> df.matchup
df.matchup %>% sample_n(5)

  TeamID.x Predictor.x Season TeamID.y Predictor.y
1 1264     79.96       2014   1328     85.00
2 1314     85.85       2014   1437     89.02
3 1332     86.21       2014   1344     82.20
4 1243     83.06       2014   1276     89.76
5 1142     71.05       2014   1269     81.70

In [129]:
# machups predictions
df.matchup %>% 
    mutate(ID=str_c(Season,'_',TeamID.x,'_',TeamID.y)) %>% 
    mutate(Prob=logistic(Predictor.x-Predictor.y,a=slope)) %>% 
    mutate(Pred=ifelse(Prob>0.5,1,0)) %>% 
    select(ID,Pred,Prob) -> df.submit
df.submit %>% sample_n(5)

  ID             Pred Prob
1 2014_1160_1372 1    0.54794105
2 2014_1160_1257 0    0.06144126
3 2014_1174_1438 0    0.06573487
4 2014_1153_1397 0    0.33036490
5 2014_1140_1217 0    0.39832390

In [130]:
# merge prediction and truth
df.truth %>% inner_join(df.submit,by='ID') -> df.results

In [136]:
# confusion matrix
cm <- table(df.results$Target,df.results$Pred)
cat('Confusion Matrix')
cm
perf <- (cm[1,1]+cm[2,2]) / nrow(df.results)
cat(paste('Accuracy: ',perf))

Confusion Matrix

     0  1
  0 24  5
  1 13 25

Accuracy:  0.73134328358209

In [140]:
cat(paste('Baseline logloss:',-log(0.5)))
# logloss (kaggle metric)
df.results %>% 
    mutate(LogLoss=Target*log(Prob) + (1-Target)*log(1-Prob)) %>% 
    summarise(ModelLogLoss = -mean(LogLoss))

Baseline logloss: 0.693147180559945

  ModelLogLoss
1 0.4949369